<div class="w-75 mx-auto">
  <p class="fs-1">Register</p>
  <form action="/register" method="post">
    <div class="d-flex gap-3">
      <div class="form-floating mb-3 w-50">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="firstname"
          placeholder="Username"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3 w-50">
        <input
          type="username"
          class="form-control"
          id="floatingInput"
          name="lastname"
          placeholder="Lastname"
        />
        <label for="floatingInput">Lastname</label>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        name="email"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        name="password"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Register</button>
  </form>
</div>